.banner {
    position: relative;
    width: 100%;
    max-height: 100px;
    overflow: hidden;
    margin-bottom: 10px;
}

.banner img {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    object-position: bottom;
    display: block;
}

.titulo-banner {
    position: absolute;
    top: 20px;
    left: 5%;
    /* transform: translateX(-50%); */
    font-family: 'Poppins', sans-serif; /* Fuente moderna */
    font-size: 32px;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6);
    background: rgba(0, 0, 0, 0.5);
    /* padding: 10px 20px; */
    border-radius: 10px;
}

@media (max-width: 300px) {
    .titulo-banner {
        display: none;
    }
}