
    <header class="header">
        <div class="contenido-header">
            <div class="logo-menu">
                <div class="logo">
                    <a href="index.html"><img src="img/Sargames_studio-removebg-preview.webp" alt="Logo de la tienda" width="150" height="42"></a>
                    
                </div>
                <button class="hamburguesa">☰</button>
            </div>
            <nav class="menu">
                <a href="/" class="menu-item"> <i class="fa-solid fa-house"></i> Inicio</a>
                <a href="/nosotros" class="menu-item"> <i class="fa-solid fa-users"></i> Nosotros</a>
                <a href="/contacto" class="menu-item"> <i class="fa-solid fa-phone"></i> Contacto</a>
                <a href="/alta" class="menu-item"> <i class="fa-solid fa-upload"></i> Alta</a>
            </nav>
            <div class="busqueda-carrito">
                    <input type="text" placeholder="Buscar productos" class="buscador">
                <div class="carrito">
                    <i class="fa-solid fa-cart-shopping"></i>
                </div>
            </div>
        </div>     
    </header>
        
    <section class="hero">
        <div class="columna1">
            <h1 class="titulo">¡Bienvenido <br> a nuestra tienda <br> en línea!</h1>
            <p class="subtitulo">Encuentra tus juegos favoritos a los mejores precios</p>
            <a href="contacto.html" class="boton">Contacto</a>
        </div>
        <div class="columna2">
            <script type="module" src="https://unpkg.com/@splinetool/viewer@1.9.72/build/spline-viewer.js"></script>
<spline-viewer url="https://prod.spline.design/O8006l95M3sTwDOa/scene.splinecode"></spline-viewer>
        </div>
        
    </section>
    <section class="tendencias">
        <h2>Productos en tendencia</h2>
        <div class="productos">
            <div class="producto">
                <img src="https://gaming-cdn.com/images/products/5653/380x218/red-dead-redemption-2-ultimate-edition-ultimate-edition-pc-juego-rockstar-cover.jpg?v=1741046400" alt="Producto 3" class="imagen-producto">
                <h3 class="titulo-producto">Red dead redemption 2</h3>
                <h4 class="precio"><span class="oferta">60$</span>15$</h4>
                <div class="plataformas">
                    <i class="fa-brands fa-xbox"></i>
                    <i class="fa-brands fa-playstation"></i>
                    <i class="fa-brands fa-windows"></i>
                </div>
                <button class="comprar">Comprar</button>
            </div>
            <div class="producto">
                <img src="https://gaming-cdn.com/images/products/18443/380x218/kingdom-come-deliverance-ii-xbox-series-x-s-juego-microsoft-store-cover.jpg?v=1741161600" alt="Producto 3" class="imagen-producto">
                <h3 class="titulo-producto">Kingdom come deliverance 2</h3>
                <h4 class="precio"><span class="oferta">45$</span>35$</h4>
                <div class="plataformas">
                    <i class="fa-brands fa-xbox"></i>
                    <i class="fa-brands fa-playstation"></i>
                    <i class="fa-brands fa-windows"></i>
                </div>
                <button class="comprar">Comprar</button>
            </div>
            <div class="producto">
                <img src="https://gaming-cdn.com/images/products/16526/380x218/monster-hunter-wilds-xbox-series-x-s-juego-microsoft-store-cover.jpg?v=1741161600" alt="Producto 3" class="imagen-producto">
                <h3 class="titulo-producto">Monster hunter wilds</h3>
                <h4 class="precio">60$</h4>
                <div class="plataformas">
                    <i class="fa-brands fa-xbox"></i>
                    <i class="fa-brands fa-playstation"></i>
                    <i class="fa-brands fa-windows"></i>
                </div>
                <button class="comprar">Comprar</button>
            </div>
            <div class="producto">
                <img src="https://gaming-cdn.com/images/products/18269/380x218/ready-or-not-lspd-bundle-lspd-bundle-pc-juego-steam-cover.jpg?v=1741161600" alt="Producto 3" class="imagen-producto">
                <h3 class="titulo-producto">Ready or not</h3>
                <h4 class="precio"><span class="oferta">30$</span>10$</h4>
                <div class="plataformas">
                    <i class="fa-brands fa-xbox"></i>
                    <i class="fa-brands fa-playstation"></i>
                    <i class="fa-brands fa-windows"></i>
                </div>
                <button class="comprar">Comprar</button>
            </div>
            <div class="producto">
                <img src="https://gaming-cdn.com/images/products/4211/380x218/grand-theft-auto-v-premium-online-edition-premium-online-edition-pc-juego-rockstar-cover.jpg?v=1737138287" alt="Producto 3" class="imagen-producto">
                <h3 class="titulo-producto">Grand theft auto V: Premium Online</h3>
                <h4 class="precio"><span class="oferta">20$</span>8.99$</h4>
                <div class="plataformas">
                    <i class="fa-brands fa-xbox"></i>
                    <i class="fa-brands fa-playstation"></i>
                    <i class="fa-brands fa-windows"></i>
                </div>
                <button class="comprar">Comprar</button>
            </div>
            <div class="producto">
                <img src="https://gaming-cdn.com/images/products/932/380x218/terraria-pc-mac-juego-steam-cover.jpg?v=1683791474" alt="Producto 3" class="imagen-producto">
                <h3 class="titulo-producto">Terraria</h3>
                <h4 class="precio"><span class="oferta">$10$</span>2.95$</h4>
                <div class="plataformas">
                    <i class="fa-brands fa-xbox"></i>
                    <i class="fa-brands fa-playstation"></i>
                    <i class="fa-brands fa-windows"></i>
                </div>
                <button class="comprar">Comprar</button>
            </div>
            <div class="producto">
                <img src="https://gaming-cdn.com/images/products/967/380x218/sea-of-thieves-2024-edition-2024-edition-pc-xbox-one-xbox-series-x-s-juego-microsoft-store-cover.jpg?v=1741161600" alt="Producto 3" class="imagen-producto">
                <h3 class="titulo-producto">Sea of thieves</h3>
                <h4 class="precio"><span class="oferta">25$</span>9.84$</h4>
                <div class="plataformas">
                    <i class="fa-brands fa-xbox"></i>
                    <i class="fa-brands fa-playstation"></i>
                    <i class="fa-brands fa-windows"></i>
                </div>
                <button class="comprar">Comprar</button>
            </div>
            <div class="producto">
                <img src="https://gaming-cdn.com/images/products/10365/380x218/final-fantasy-vii-rebirth-pc-juego-steam-cover.jpg?v=1741161600" alt="Producto 3" class="imagen-producto">
                <h3 class="titulo-producto">Final fantasy VIII rebirth</h3>
                <h4 class="precio"><span class="oferta">60$</span>35$</h4>
                <div class="plataformas">
                    <i class="fa-brands fa-xbox"></i>
                    <i class="fa-brands fa-playstation"></i>
                    <i class="fa-brands fa-windows"></i>
                </div>
                <button class="comprar">Comprar</button>
            </div>
        </div>
    </section>
    <section class="fiable">
        <h2>Compra con confianza</h2>
        <p>Contamos con el mejor catalogo de juegos para que nunca te pierdas los nuevos lanzamientos de tu consola favorita</p>
    </section>
    <section class="mas-vendidos">
        <h2>Productos más vendidos</h2>
        <div class="productos-mas-vendidos">
            <div class="producto">
                <img src="https://gaming-cdn.com/images/products/18806/380x218/dragon-ball-z-kakarot-daima-adventure-through-the-demon-realm-pack-pc-juego-steam-cover.jpg?v=1741165200" alt="Producto 3" class="imagen-producto">
                <h3 class="titulo-producto">Dragon ball Z: Kakarot DLC DAIMA</h3>
                <h4 class="precio">25$</h4>
                <div class="plataformas">
                    <i class="fa-brands fa-xbox"></i>
                    <i class="fa-brands fa-playstation"></i>
                    <i class="fa-brands fa-windows"></i>
                </div>
                <button class="comprar">Comprar</button>
            </div>
            <div class="producto">
                <img src="https://gaming-cdn.com/images/products/442/380x218/minecraft-java-bedrock-edition-java-bedrock-edition-pc-juego-cover.jpg?v=1741165200" alt="Producto 3" class="imagen-producto">
                <h3 class="titulo-producto">Minecraft: Java y bedrock edition</h3>
                <h4 class="precio"><span class="oferta">34$</span>15$</h4>
                <div class="plataformas">
                    <i class="fa-brands fa-xbox"></i>
                    <i class="fa-brands fa-playstation"></i>
                    <i class="fa-brands fa-windows"></i>
                </div>
                <button class="comprar">Comprar</button>
            </div>
            <div class="producto">
                <img src="https://gaming-cdn.com/images/products/5653/380x218/red-dead-redemption-2-ultimate-edition-ultimate-edition-pc-juego-rockstar-cover.jpg?v=1741046400" alt="Producto 3" class="imagen-producto">
                <h3 class="titulo-producto">Red dead redemption 2</h3>
                <h4 class="precio"><span class="oferta">60$</span>15$</h4>
                <div class="plataformas">
                    <i class="fa-brands fa-xbox"></i>
                    <i class="fa-brands fa-playstation"></i>
                    <i class="fa-brands fa-windows"></i>
                </div>
                <button class="comprar">Comprar</button>
            </div>
            <div class="producto">
                <img src="https://gaming-cdn.com/images/products/17137/380x218/murky-divers-pc-juego-steam-cover.jpg?v=1741165200" alt="Producto 3" class="imagen-producto">
                <h3 class="titulo-producto">Murky Divers</h3>
                <h4 class="precio"><span class="oferta">16$</span>3.77$</h4>
                <div class="plataformas">
                    <i class="fa-brands fa-xbox"></i>
                    <i class="fa-brands fa-playstation"></i>
                    <i class="fa-brands fa-windows"></i>
                </div>
                <button class="comprar">Comprar</button>
            </div>
            <div class="producto">
                <img src="https://gaming-cdn.com/images/products/11907/380x218/marvel-s-spider-man-remastered-pc-juego-steam-cover.jpg?v=1741165200" alt="Producto 3" class="imagen-producto">
                <h3 class="titulo-producto">Marvels Spiderman Remastered</h3>
                <h4 class="precio"><span class="oferta">50$</span>24$</h4>
                <div class="plataformas">
                    <i class="fa-brands fa-xbox"></i>
                    <i class="fa-brands fa-playstation"></i>
                    <i class="fa-brands fa-windows"></i>
                </div>
                <button class="comprar">Comprar</button>
            </div>
        </div>
    </section>
    <section class="preguntas-frecuentes">
        <h2>Preguntas frecuentes</h2>
        <div class="preguntas">
            <div class="pregunta">
            <details>
                    <summary>¿Cómo comprar?</summary>
                    <p>Para comprar en nuestra tienda en línea, simplemente selecciona el producto que deseas comprar y da clic en el botón de comprar. Una vez que hayas seleccionado todos los productos que deseas comprar, da clic en el carrito de compras y sigue los pasos para completar tu compra.</p>
            </details>
        </div>
        <div class="pregunta">
            <details>
                <summary>¿Cuánto tiempo tarda en llegar mi pedido?</summary>
                <p>El tiempo de entrega de tu pedido dependerá de tu ubicación. Una vez que hayas completado tu compra, recibirás un correo electrónico con la información de tu pedido y el tiempo estimado de entrega.</p>
            </details>
        </div>
        <div class="pregunta">
            <details>
                <summary>¿Cómo puedo pagar?</summary>
                    <p>Aceptamos pagos con tarjeta de crédito, tarjeta de débito y PayPal. Una vez que hayas completado tu compra, serás redirigido a la página de pagos para completar tu compra.</p>
            </details>
        </div>
        </div>
    </section>
    
    <footer class="footer">
        <div class="contacto">
            <h3>Contacto</h3>
            <p>Correo: tienda@tienda.com</p>
            <p>Teléfono: 1234567890</p>
        </div>
        <div class="redes">
            <h3>Redes sociales</h3>
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-brands fa-instagram"></i>
        </div>
    </footer>