.color{
    background: rgb(232, 49, 36);
}

/* Bloque */
.parrafo{
    color:rgb(232, 49, 36);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
}

.parrafo-cursiva{
    font-style: italic;
}