<footer class="bg-light text-black text-center py-1 fixed-bottom">
  <div class="container">
    <small>&copy; 2025 - Proyecto Integrador realizado por Roberto Sanchez Leiva</small>
  </div>
</footer>
