{{!-- src/views/nosotros.hbs --}}
<div class="container mb-4">
    <div class="contenedor-nosotros bg-white text-center rounded-3 shadow p-5 mt-2">
        <img src="/img_categorias/nosotros2.jpg" alt="Nosotros">
        <h1>Nosotros</h1>
        <p>Todo comenzó el 10 de febrero de 1977, cuando un grupo de apasionados por el vino decidió fundar una pequeña bodega en Tablada, con la visión de crear vinos únicos que reflejaran la esencia del terruño local. Durante sus primeros años, la producción estuvo enfocada en cosechas limitadas, donde cada botella era el resultado de un meticuloso proceso artesanal.</p>
        <p>Con el tiempo, la demanda creció y la bodega evolucionó, incorporando la distribución de otras marcas cuidadosamente seleccionadas, ampliando su catálogo y llevando su pasión por el vino a más personas. A pesar de esta expansión, seguimos manteniendo nuestra esencia, dedicando una parte de nuestra producción a cosechas especiales, elaboradas con el mismo compromiso con la calidad que nos vio nacer.</p>
        <p>Hoy, con más de cuatro décadas de historia, seguimos combinando tradición y modernidad, ofreciendo una selección de los mejores vinos del mercado sin perder nuestra identidad. Desde nuestra sede en Tablada, trabajamos día a día para acercar a nuestros clientes una experiencia única en cada copa.</p>
    </div>
</div>
