/* Estructura de la pagina */
body {
    font-family: Arial, sans-serif;
    background-color: #e11364;
    margin: 0;
    padding: 0;
    width: 80%;
    margin: 15px auto 15px;
}

header {
    margin: 15px auto 15px;
    background-color: #bc105c;
    border-left: 5px solid #ffffff;
    border-right: 5px solid #ffffff;
    text-align: center;
}

footer {
    background-color: #e96093;
    text-align: center;
    padding: 5px;
    color: white;
    margin-top: 20px;
    font-size: 0.6em;
}

/* Estructuras de Titulos */
h1 {
    color: white;
    font-size: 2.5em;
    padding: 10px;
}

h2 {
    color: white;
    font-size: 1.3em;
}

h3 {
    color: #a51743;
    font-size: 1em;
}

/* Clases Personalizadas */
.juegos {
    background-color: #bc105c;
    padding: 10px;
    border-radius: 10px;
}

.titulo_secundario {
    margin-top: 10px;
    border-bottom: 2px dotted #a51743;
    text-align: right;
}

.juego {
    background-color: white;
    margin: 20px 0;
    padding: 5px;
    border-radius: 10px;
}

.contenido {
    align-items: center;
    gap: 20px;
}

.contenido img {
    width: 100%;
}

.descripcion p  {
    color: black;
    font-size: 0.7em;
}

.btn {
    /* ubica al centro --> */
    display: block;
    width: fit-content; /* Hace que el ancho se ajuste al contenido */
    margin: 10px auto; /* Centra horizontalmente */    
    /* <-- */
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}

.btn:hover {
    background-color: #388E3C;
}

