img{
    width: 400px;
    height: 300px;
    margin: 10px 10px;
}
button{
    display: block;
    margin: 10px;
    width: 100px;
    height: 30px;
    background-color: green;
}

div{
    border: 3px solid black;
    margin: 10px;
}

.padre{
    display: flex;
    /* flex-direction: row; */
   /*  flex-direction: row-reverse; */
    flex-wrap: wrap;
    /* flex-wrap: wrap-reverse; */
    /* flex-direction: column-reverse; */
    justify-content: space-around;
}

.hijo{
    display: flex;
    /* flex-direction: column-reverse; */
    flex-direction: column;
    align-items: center;
}

form{
    display: flex;
    justify-content: flex-end;
}

input{
    margin: 10px;
    width: 250px;
    height: 25px;
}

.grande{
    flex-grow: 1;
    background-color: rgb(233, 189, 189);
}

/* reglas para @media */
@media(max-width: 800px ){

    .padre{
        flex-direction: row;
        justify-content: flex-start;
    }

    .grande{
        flex-grow: 1;
        background-color: rgb(224, 233, 189);
    }
}

/* reglas de media de Bootstrap */
/* // X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) { ... } */