.card-img-top {
    max-width: 90%;
    height: 250px; 
    object-fit: contain;
    border-radius: 5px;
}

.descuento {
    position: absolute;
    top: 10px;
    left: 10px;
    background: gold;
    color: black;
    padding: 5px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
}







/* Agrega un margen inferior a la última fila de productos para separarlos del banner */
.agregar-carrito {
    background: black;
    color: white;
    padding: 10px;
    width: 100%;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

.agregar-carrito:hover {
    background: darkgray;
}

.oculto {
    display: none; /* Oculta el producto sin afectar la estructura */
}

/* Oculta completamente la sección cuando no hay productos */
.oculto-todo {
    display: none;
}

/* Elimina el margen cuando la sección está oculta */
.oculto-todo {
    margin-bottom: 0 !important;
}

