/* Hero container styles */

#hero {
  width: 100%;
  height: 75vh;
  background-image:
    linear-gradient(to right, rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
    url("../images/hero_image.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  color: white;
}

.hero_container {
  width: 90%;
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero_container .hero_info h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.hero_container .hero_info p {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.hero_container .hero_info a {
  text-decoration: none;
  display: inline-block;
  background-color: #801f2c;
  border-radius: 8px;
  font-size: 1.8rem;
  padding: 0.5rem 2rem;
  color: white;
}

.hero_container .hero_info a:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 768px) {
  .hero_container {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .hero_container .hero_info h1 {
    font-size: 2rem;
  }

  .hero_container .hero_info p {
    font-size: 1rem;
  }

  .hero_container .hero_info a {
    font-size: 1.3rem;
  }
}

/* Product Styles */

.section-title {
  text-align: center;
  margin-top: 50px;
  font-weight: 300;
  color: #801f2c;
}

.product-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 15px;
}

.product-card {
  width: 325px;
  background-color: #f0f0f0;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
  margin: 20px;
}

.product-card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.product-content {
  padding: 16px;
}

.product-content .price {
  font-size: 20px;
  color: #801f2c;
  font-weight: bold;
  text-align: end;
  margin-top: 8px;
}

.product-content h3 {
  font-size: 24px;
  margin-bottom: 8px;
  font-weight: normal;
}

.product-content p {
  color: #666;
  font-size: 15px;
  line-height: 1.3;
}

.product-content .btn {
  display: inline-block;
  background-color: #ba5459;
  color: #ffe4e3;
  padding: 8px 16px;
  border-radius: 8px;
  text-decoration: none;
  margin-top: 8px;
  width: 100%;
  text-align: center;
}

.product-content .btn:hover {
  text-decoration: underline;
}