* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #801f2c;
  padding: 1em;
}

nav a {
  text-decoration: none;
  text-transform: capitalize;
  color: white;
}

#logo {
  font-size: 1.4em;
  font-family: "Galada", serif;
  color: white;
}

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
}

nav label {
  display: none;
  cursor: pointer;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 1em;
}

nav ul a {
  padding: 0.5em;
}

nav ul a:hover {
  color: black;
  background-color: lightgray;
  border-radius: 0.5em;
  opacity: 0.8;
}

.active {
  border-bottom: 2px solid #ffffff;
}

@media screen and (max-width: 600px) {
  nav label {
    display: block;
  }

  nav ul {
    font-size: 1.2em;
    position: absolute;
    left: -100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #333333;
    gap: 2em;
    top: 60px;
    width: 100%;
    height: calc(100vh - 60px);
    transition: 0.5s;
  }

  input[type="checkbox"]:checked ~ ul {
    left: 0;
  }

  nav ul a:hover {
    background-color: #801f2c;
    color: white;
    opacity: 1;
  }
}
