/* Tipografías importadas desde Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');



/* selector universal: a todos los elementos html del archivo al que lo linkeamos */
* {
    font-style: italic;
}

/* selector de clase class */
.parrafo {
    color: red;
    font-size: 20px;
}

.import {
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: italic;
}

/* selector de id */
#comodni {
    color: green;
    font-size: 30px;
}

/* selector por atributo */
p[title] {
    color: rgb(143, 18, 120);
    font-size: 40px;
}

a[href] {
    color: rgb(24, 90, 50);
    font-size: 40px;
}

h1,
h2,
h3 {
    font-size: 45px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

/* Tipografía linkeada desde Google, agregar link html y código css */
p {
    font-family: "Corinthia", serif;
    font-weight: 700;
    font-style: normal;
}

/*  creamos un font-face */
@font-face {
    font-family: "Corinthia-Regular";
    src: url('../fonts/Corinthia-Regular.ttf');
}

@font-face {
    font-family: "Corinthia-Bold";
    src: url('../fonts/Corinthia-Bold.ttf');
}


p {
    font-family: Corinthia-Regular;
    font-weight: 700;
    font-style: normal;
}